.main_method {
    display: flex;
    align-items: center;
    justify-content: center;
    .method_circle_btn {
        border: 2px solid $white;
        width: 450px;
        height: 450px;
        border-radius: 50%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: $black;
        .method_circle {
            width: 380px;
            height: 380px;
            border: 2px solid $white;
            border-radius: 50%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-color: $white;
            color: $black;
            a {
                position: absolute;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                position: absolute;
                background-color: $white;
                &:hover {
                    background-color: $black;
                }
            }
            a:first-child {
                top: 80px;
                left: -20px;
                &:after {
                    content: "Team dédié";
                    color: $white;
                    font-size: 17px;
                    left: -130px;
                    position: absolute;
                    text-transform: uppercase;
                    font-weight: bold;
                }
                &:hover {
                    &:after {
                        color: $black;
                    }
                }
            }
            a:nth-child(2n) {
                top: 80px;
                right: -20px;
                &:after {
                    content: "Immersion";
                    color: $white;
                    font-size: 17px;
                    right: -130px;
                    position: absolute;
                    text-transform: uppercase;
                    font-weight: bold;
                }
                &:hover {
                    &:after {
                        color: $black;
                    }
                }
            }
            a:nth-child(3n) {
                bottom: 80px;
                left: -20px;
                &:after {
                    content: "Tête à tête";
                    color: $white;
                    font-size: 17px;
                    left: -130px;
                    position: absolute;
                    text-transform: uppercase;
                    font-weight: bold;
                }
                &:hover {
                    &:after {
                        color: $black;
                    }
                }
            }
            a:nth-child(4n) {
                top: 285px;
                right: -20px;
                &:after {
                    content: "CAP À ATTEINDRE";
                    color: $white;
                    font-size: 17px;
                    right: -170px;
                    position: absolute;
                    text-transform: uppercase;
                    font-weight: bold;
                }
                &:hover {
                    &:after {
                        color: $black;
                    }
                }
            }
            h1 {
                margin-bottom: 30px;
                font-size: 50px;
                display: flex;
                flex-direction: column;
                align-items: center;
                font-weight: bold;
                text-transform: lowercase;
                line-height: 40px;
                font-family: "CoconOT-Bold";
                color: $black;
                margin-top: 15px;
            }

            h2 {
                font-size: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                font-weight: 400;
                line-height: 40px;
            }

            p {
                font-size: 15px;
                text-align: center;
                font-size: 20px;
            }
        }
    }
}

.main_method_alt {
    display: flex;
    align-items: center;
    justify-content: center;
    .method_circle_btn {
        border: 2px solid $white;
        width: 470px;
        height: 470px;
        border-radius: 50%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: $black;
        .method_circle {
            width: 400px;
            height: 400px;
            border: 2px solid $white;
            border-radius: 50%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-color: $white;
            color: $black;
            a {
                position: absolute;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                position: absolute;
                background-color: $white;
                &:hover {
                    background-color: $pink;
                }
            }
            a:nth-child(1) {
                top: 80px;
                right: -20px;
                font-size: 17px;
                &:after {
                    content: "Immersion";
                    color: $white;
                    font-size: inherit;
                    right: -120px;
                    bottom: -2px;
                    position: absolute;
                    text-transform: uppercase;
                    font-weight: bold;
                }
                &:hover {
                    &:after {
                        color: $pink;
                    }
                }
            }
            a:nth-child(2n) {
                top: 285px;
                right: -20px;
                font-size: 17px;
                &:after {
                    content: "CAP À ATTEINDRE";
                    color: $white;
                    font-size: inherit;
                    right: -170px;
                    position: absolute;
                    text-transform: uppercase;
                    font-weight: bold;
                }

                &:hover {
                    &:after {
                        color: $pink;
                    }
                }
            }
            a:nth-child(3n) {
                bottom: 80px;
                left: -20px;
                font-size: 17px;
                &:after {
                    content: "Tête à tête";
                    color: $white;
                    font-size: inherit;
                    left: -130px;
                    position: absolute;
                    text-transform: uppercase;
                    font-weight: bold;
                }
                &:hover {
                    &:after {
                        color: $pink;
                    }
                }
            }
            a:nth-child(4n) {
                top: 80px;
                left: -20px;
                font-size: 17px;
                &:after {
                    content: "Team dédiée";
                    color: $white;
                    font-size: inherit;
                    left: -130px;
                    position: absolute;
                    text-transform: uppercase;
                    font-weight: bold;
                }
                &:hover {
                    &:after {
                        color: $pink;
                    }
                }
            }
            #active {
                // On applique un id pour qu'il prenne la priorité
                background-color: $pink;
                &:after {
                    color: $white;
                    font-size: 30px;
                    position: absolute;
                    text-transform: uppercase;
                    font-weight: bold;
                }

                &--method_1 {
                    @extend #active;
                    &:after {
                        right: -200px;
                        bottom: -10px;
                    }
                    &:before {
                        content: "";
                        width: 60px;
                        border-bottom: 6px solid $white;
                        position: absolute;
                        bottom: -20px;
                        right: -80px;
                    }
                }

                &--method_2 {
                    @extend #active;
                    &:after {
                        right: -290px;
                        bottom: -10px;
                    }
                    &:before {
                        content: "";
                        width: 60px;
                        border-bottom: 6px solid $white;
                        position: absolute;
                        bottom: -20px;
                        right: -90px;
                    }
                }

                &--method_3 {
                    @extend #active;
                    &:after {
                        left: -210px;
                        bottom: -10px;
                    }
                    &:before {
                        content: "";
                        width: 100px;
                        border-bottom: 6px solid $white;
                        position: absolute;
                        bottom: -20px;
                        left: -140px;
                    }
                }

                &--method_4 {
                    @extend #active;

                    &:after {
                        left: -235px;
                        bottom: -10px;
                        width: 200px;
                    }
                    &:before {
                        content: "";
                        width: 70px;
                        border-bottom: 6px solid $white;
                        position: absolute;
                        bottom: -20px;
                        left: -110px;
                    }
                }

                /*

                &:hover {
                    &:after {
                        color: $pink;
                    }
                }

                */
            }
            h1 {
                margin-bottom: 10px;
                font-size: 30px;
                display: flex;
                line-height: 40px;
                font-family: "CoconOT-Bold";
                color: $pink;
                strong {
                    font-weight: bold;
                    text-transform: uppercase;
                    margin-left: 10px;
                }
            }

            h2 {
                font-size: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                font-weight: 400;
                text-transform: uppercase;
                line-height: 40px;
            }

            p {
                font-size: 15px;
                text-align: center;
            }
        }
    }
}
