footer {
    height: 130px;
    display: flex;
    justify-content: flex-end;
    ul {
        display: flex;
        color: $white;
        font-weight: 300;
        align-items: center;
        height: 100%;
        a {
            display: flex;
            text-decoration: none;
            align-items: center;
            li:first-child {
                display: flex;
                position: relative;
                width: 300px;
                align-items: center;
                span {
                    width: 100%;
                    display: flex;
                    margin-right: 90px;
                    justify-content: flex-end;
                    align-items: center;
                    height: 90px;
                }
                strong {
                    position: absolute;
                    right: 0;
                    width: 80px;
                }
            }
            li:last-child {
                position: relative;
                border-radius: 50%;
                width: 30px;
                height: 30px;
                margin-right: 38px;
                display: flex;
                justify-content: center;
                align-items: center;
                &:after {
                    position: absolute;
                    content: "";
                    width: 40px;
                    height: 5px;
                    top: 40%;
                    right: -43px;
                }
            }
        }
    }
}

.footer__home {
    ul {
        transition: all 0.3s;
        a {
            color: $white;
        }
        li:last-child {
            border: 7px solid $white;
            &:after {
                background-color: $white;
            }
            svg {
                fill: #fff;
            }
        }
        &:hover a {
            color: $black;
            transition: all 0.3s;
            cursor: pointer;
        }
        &:hover {
            li:last-child {
                border: 7px solid $black;
                &:after {
                    background-color: $black;
                }
                svg {
                    fill: $black;
                }
            }
        }
    }
}

.footer__about {
    ul {
        transition: all 0.3s;
        a {
            color: $black;
        }
        li:last-child {
            border: 7px solid $black;
            &:after {
                background-color: $black;
            }
            svg {
                fill: #000;
            }
        }
        &:hover a {
            color: $red;
            transition: all 0.3s;
            cursor: pointer;
        }
        &:hover {
            li:last-child {
                border: 7px solid $red;
                &:after {
                    background-color: $red;
                }
                svg {
                    fill: $red;
                }
            }
        }
    }
}

.footer__method {
    position: absolute;
    bottom: 0;
    right: 0;
    ul {
        transition: all 0.3s;
        a {
            color: $white;
        }
        li:first-child {
            position: relative;
            svg {
                fill: #fff;
            }
            &:before {
                border-top: 7px dotted $white;
                position: absolute;
                content: "";
                width: 200px;
                height: 0px;
                right: 0px;
            }
        }
        li:last-child {
            border: 7px solid $white;
            position: relative;
            svg {
                fill: #fff;
            }
            &:before {
                background-color: $white;
                position: absolute;
                content: "";
                width: 200px;
                height: 7px;
                left: -400px;
            }
        }
        &:hover a {
            color: $pink;
            transition: all 0.3s;
            cursor: pointer;
        }
        &:hover {
            li:first-child {
                svg {
                    fill: $pink;
                }
                &:before {
                    border-top: 7px dotted $pink;
                }
            }
            li:last-child {
                border: 7px solid $pink;
                svg {
                    fill: $pink;
                }
                &:before {
                    background-color: $pink;
                }
            }
        }
    }
}
