header {
    width: 100%;
    display: flex;
    position: absolute;
    nav {
        height: 120px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .main_nav {
            display: flex;
            li {
                margin: 0 3px;
                a {
                    border-radius: 50%;
                    border: 6px solid $white;
                    width: 30px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    svg {
                        width: 70px;
                        height: 70px;
                        fill: $white;
                    }
                }
            }
        }
        .burger {
            display: flex;
            width: 70px;
            margin-right: 20px;
            align-items: center;
            justify-content: center;
            height: 100%;
            i {
                font-size: 49px;
                color: $white;
            }
        }
    }
}
