@font-face {
  font-family: "CoconOT-Light";
  src: url("../fonts/CoconOT-Light.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CoconOT-Regular";
  src: url("../fonts/CoconOT-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CoconOT-BoldItalic";
  src: url("../fonts/CoconOT-BoldIta.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CoconOT-Bold";
  src: url("../fonts/CoconOT-Bold.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CoconOT-Italic";
  src: url("../fonts/CoconOT-Ita.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CoconOT-LightItalic";
  src: url("../fonts/CoconOT-LightIta.otf");
  font-weight: normal;
  font-style: normal;
}
