main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    h1 {
        font-weight: 300;
        width: 100%;
        margin-bottom: 30px;
        font-size: 40px;
        strong {
            font-family: "CoconOT-Bold";
        }
    }
    .contact {
        display: flex;
        .row {
            display: flex;
            .item {
                .column {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
}
